.section-icons .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.section-icons .container > div {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.25rem;
}

.section-inputs .input-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    align-items: flex-start;
    justify-content: space-around;
}

.section-inputs .input-fields > button {
    flex-basis: 95%;
}

.section-inputs .input-fields > fieldset,
.section-inputs .input-fields > div {
    flex-basis: 45%;
}
