/* EduLinq Core Style */

html {
    font-size: var(--font-size-normal);

    font-family: "Montserrat", Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-normal);
    font-style: normal;
    word-break: break-word;
}

/* Add additional selection elements to increase the power of the selector. */
.page-body .content .hidden {
    display: none;
}

.drop-shadow {
    box-shadow: 2px 2px 0px var(--color-bg-shadow);
}

.required-color {
    color: var(--color-text-error);
}

hr {
    width: 100%;
    border-width: 2px;
}

.section,
.subsection,
.subsubsection {
    margin: min(1.5rem, 1vw);
    padding: 1.5rem;
    border-radius: var(--curve-radius-large);
}

table.standard-table {
    border-collapse: collapse;
}

table.standard-table th,
table.standard-table td {
    padding: 0.50rem;
}

table.standard-table th,
table.standard-table tr:not(:last-child) {
    border-bottom: 1px solid var(--color-text-secondary);
}

table.sortable-table th[data-ascending='true']::after {
    content: ' ↑';
}

table.sortable-table th[data-ascending='false']::after {
    content: ' ↓';
}

h1, h2, h3, h4, h5, h6,
p, span,
ul, ol {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.00rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 0.875rem;
}

h3 {
    font-size: 1.50rem;
    margin-bottom: 0.75rem;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
}

h5 {
    font-size: 1.00rem;
    margin-bottom: 0.5rem;
}

h6 {
    font-size: 0.75rem;
    margin-bottom: 0.375rem;
}

code {
    border-radius: var(--curve-radius-small);
    padding: 0 0.25rem 0 0.25rem;
}

.page {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.page p {
    margin-bottom: 1rem;
}

.page ul,
.page ol {
    margin-left: 2rem;
}

fieldset {
    padding: 0;
    outline: none;
    border: none;
}

.header {
    padding-left: min(1.0rem, 1vw);
    padding-right: min(1.0rem, 1vw);
    text-align: center;
    font-size: var(--font-size-smaller);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header > div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    word-break: keep-all;

    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
}

.header .site-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    /* Remove the padding from the nav itself.
     * The padding will be put on each nav link for better hover effects. */
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.header .nav-highlight {
    border-bottom: solid var(--color-bg-accent-tertiary);
}

.header .nav-link,
.header .site-branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: min(0.5rem, 0.5vw);
}

.header .nav-link {
    /* Add padding to the nav link class for better hover effects. */
    padding-top: 1.5rem;
    padding-right: min(1rem, 1vw);
    padding-bottom: 1.5rem;
    padding-left: min(1rem, 1vw);
}

.header .site-branding {
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weight-bold);
    height: fit-content;
    width: fit-content;
}

.header .site-branding svg {
    height: var(--logo-size-small);
    width: var(--logo-size-small);
}

.header .nav-link:hover {
    background: var(--color-highlighter);
}

.header a {
    text-decoration: none;
}

.header .site-context {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: min(1.0rem, 1.0vw);
}

.brightmode-toggle {
    cursor: pointer;
    color: var(--color-text-accent-low);
}

.brightmode-toggle span.active {
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
    color: var(--color-text-accent);
}

.page > .content {
    max-width: 80rem;
    margin: 10px auto;
}





/* TEST - Review below. */

button,
input,
select,
textarea {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);

    border-color: var(--color-text-secondary);
    border-width: 2px;
    border-radius: var(--curve-radius-small);
    box-shadow: 2px 2px 1px var(--color-bg-shadow);

    cursor: pointer;
    max-width: 80vw;
}

textarea {
    min-height: 5vw;
    min-width: 20vw;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
    background-color: var(--color-bg-secondary-low);
    color: var(--color-text-secondary-low);
    border-color: var(--color-text-secondary-low);
    cursor: no-drop;
}

input {
    padding: 0.25rem 0.5rem;
}

button {
    padding: 0.5rem 0.25rem;
}

select {
    padding: 0.75rem 1rem;
}

input:invalid.touched {
    border-color: var(--color-text-error);
}

button:hover:not([disabled]),
input:hover:not([disabled]),
select:hover:not([disabled]),
textarea:hover:not([disabled]) {
    box-shadow: -1px -1px 0px var(--color-bg-shadow);
}

button:hover:not([disabled]) {
    transform: translateY(-1px);
}

button:focus:not([disabled]),
input:focus:not([disabled]),
select:focus:not([disabled]),
textarea:focus:not([disabled]) {
    box-shadow: none;
}

input[type="checkbox"] {
    accent-color: var(--color-bg-accent-secondary);
    height: 1.25rem;
    width: 1.25rem;
}

/* Use the standard box shadow on checkboxes because the hover effect looks bad on this element. */
input[type="checkbox"]:hover:not([disabled]) {
    box-shadow: 2px 2px 0px var(--color-bg-shadow);
}

input[type="checkbox"]:focus {
    box-shadow: 2px 2px 1px var(--color-bg-shadow);
}

.footer {
    height: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.footer div {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer div.right {
    gap: 1rem;
    justify-content: flex-end;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.loading-container .loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.loading-container .loading-modal {
    z-index: 100;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #80808082;
}

.loading-container .loading svg {
    height: var(--logo-size-large);
    width: var(--logo-size-large);
}

.glow-pulse svg {
    animation: glow-pulse 2.0s infinite;
}

.loading-container .loading-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loading-container .loading-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.loading-container .loading-dots span {
    width: var(--icon-size-smaller);
    height: var(--icon-size-smaller);
    border-radius: 50%;
    background-color: var(--color-bg-accent-primary);
    opacity: 0.2;
    animation: loading-dots-blink 2.0s infinite;
}

.loading-container .loading-dots span:nth-child(1) {
    animation-delay: 0s;
}
.loading-container .loading-dots span:nth-child(2) {
    animation-delay: 0.25s;
}
.loading-container .loading-dots span:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes loading-dots-blink {
    0%, 10%, 90%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

@keyframes glow-pulse {
    0%, 100%  {
        filter: drop-shadow(0 0 5px var(--color-bg-accent-primary));
    }
    50% {
        filter:
            drop-shadow(0 0 5px var(--color-bg-accent-primary))
            drop-shadow(0 0 15px var(--color-bg-accent-primary))
            drop-shadow(0 0 25px var(--color-bg-accent-primary));
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media (max-width: 700px) {
    .header .nav-link svg,
    .header .site-branding svg {
        display: none;
    }
}

.page-body {
    flex-grow: 1;

    padding: 0.5rem;
}

.content-area {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    flex-grow: 1000;
}

.content {
    padding: 1.0rem;
    border-radius: var(--curve-radius-large);
}

.card-header,
.template-content .page-information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: min(1.75rem, 4.5vw);
    gap: 1.0rem;
    border-radius: var(--curve-radius-large);
}

.card-header {
    margin-bottom: 1.0rem;
}

.card-header h2 {
    margin-bottom: 0rem;
}

.card-header .card-title {
    display: flex;
    align-self: center;
    max-width: fit-content;
}

.card-sections {
    display: flex;
    flex-direction: column;
}

.card-sections > div {
    display: block;
    padding: 1.0rem;
    border-radius: var(--curve-radius-large);
}

.card-section {
    margin-bottom: 1rem;
}

.card-section:last-of-type {
    margin-bottom: 0rem;
}

.card-section h2 {
    text-align: start;
}

.cards-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    align-items: stretch;
}

.card {
    flex-basis: 20vw;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: min-content;

    border-radius: var(--curve-radius-large);
    font-size: var(--font-size-larger);
    text-align: center;

    outline: 3px solid var(--color-bg-accent-primary);
    outline-offset: -2px;
}

.card:hover {
    transform: translateY(-3px);
    transition: all 0.3s ease;
    background: var(--color-bg-accent-gradient);
}

.card a {
    padding: 1.5rem;
    text-decoration: none;
    word-break: keep-all;
}

.home-page,
.template-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-content,
.template-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: fit-content;
}

.home-content .home-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    font-size: var(--font-size-larger);
}

.home-title .icon {
    padding: 0.75rem;
}

.home-title svg {
    height: var(--logo-size-normal);
    width: var(--logo-size-normal);
}

.home-content > div {
    /* Do not use relative margins as the title cards will be spaced differently. */
    margin: min(18px, 1vw);
    padding: 1.5rem;
    border-radius: var(--curve-radius-large);
}

.home-content > div p {
    margin-bottom: 0rem;
}

.page-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    font-size: var(--font-size-large);

    margin-bottom: 1rem;
}

.page-controls select {
    max-width: 95vw;
}

.template-content .page-information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: min(1.75rem, 4.5vw);
    border-radius: var(--curve-radius-small);
}

.template-content .page-image {
    flex-shrink: 1;
    padding: 1.0rem;
    border-radius: var(--curve-radius-small);
}

.template-content .page-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    flex: 0 1 auto;
    gap: 0.5rem;
}

.template-content .page-text > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: start;
}

.user-input-fields,
.template-content .template-control-area {
    display: flex;
    flex-direction: column;
    align-self: stretch;

    gap: 1rem;
    padding: 1.5rem;

    border-radius: var(--curve-radius-small);
}

.user-input-fields fieldset,
.template-content .template-control-area fieldset {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.user-input-fields fieldset > div,
.template-content .template-control-area fieldset > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.user-input-fields fieldset > div.checkbox-field,
.template-content .template-control-area fieldset > div.checkbox-field {
    flex-direction: row;
    align-items: center;
}

.user-input-fields .input-field label,
.template-content .template-control-area .input-field label {
    margin-bottom: 0.5rem;
}

.user-input-fields .checkbox-field label,
.template-content .template-control-area .checkbox-field label {
    margin-bottom: 0rem;
    margin-left: 0.5rem;
}

.user-input-fields .input-field .error-message,
.template-content .template-control-area .input-field .error-message {
    /* Hide the error message box by default. */
    display: none;

    border-radius: var(--curve-radius-small);

    /* Add a small margin to account for the input field's drop shadow. */
    margin-top: 2px;
    margin-bottom: 0.25rem;

    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.user-input-fields .input-field .error-message.show,
.template-content .template-control-area .input-field .error-message.show {
    display: block;
}

.user-input-fields .input-field .error-message p,
.template-content .template-control-area .input-field .error-message p {
    margin: 0rem;
}

.template-content > div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-width: min(80vw, 1150px);
    max-width: 95vw;
    box-sizing: border-box;

    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.template-content button {
    max-width: fit-content;
    align-self: center;
    padding: 0.5rem 0.75rem;
}

.template-content .template-header h2 {
    margin-bottom: 0rem;
}

.template-content .template-description p {
    margin-bottom: 0rem;
}

.results-area .result {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 1rem;

    overflow-x: auto;
    padding: 1.5rem;
    margin-bottom: 1rem;

    border-radius: var(--curve-radius-small);
}

.template-content .template-control-area .input-field {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.results-area .results-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.template-control-area {
    padding: 1.5rem;
    border-radius: var(--curve-radius-small);
}

.output-switcher .controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
